
/* GLOBAL START */
/* -------------------- */
body {
    font-size: 1.1rem;
}

.centerText {
    text-align: center;
}

.mainDiv {
    margin-top: 2%;
}

.mainButton {
    background-color: #009933;
    color: white;
    border: 1px solid #009933;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainButton:hover,
.mainButton:focus,
.mainButton:active{
    background-color: #2bc213;
    border: 1px solid #2bc213;
}

h3 {
    text-decoration: underline;
}

.card-group {
    margin-top: 1%;
}

.card {
    margin-left: 1%;
    margin-right: 1%;
}
/* GLOBAL END*/

/*---------------------------------------------------------------------------*/

/* OPENING MESSAGE SECTION START */
/* -------------------- */
#openingMessageDiv {
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 4%;
    margin-bottom: 4%;
}

@media (max-width: 991px) {
    #openingMessageDiv {
        padding-left: 10%;
        padding-right: 10%;
    }
}

#openingMessageDiv a{
    text-decoration: none;
    color: #2bc213;
}

#openingMessageDiv a:hover{
    text-decoration: none;
    color: #278647;
}
/* OPENING MESSAGE SECTION END*/

/*---------------------------------------------------------------------------*/

/* SERVICES SECTION START */
/* --------------------- */
#mainServices {
    color: white;
    background-color: #075220;
    padding-bottom: 2%;
}

#mainServices h3{
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: .5%;
}

@media (max-width: 991px) {
    #mainServices h3{
        font-size: 1.5em;
        padding-top: 4%;
    }
}

#servicesContainer div.row div{
    margin-top: .5%;
}

#servicesContainer div.row h5{
    margin-bottom: 5%;
}

@media (max-width: 9999px) {
    .hiddenHR {
        display: none;
    }
}

@media (max-width: 991px) {
    .hiddenHR {
        display: block;
    }
}

#servicesContainer h5{
    font-size: 1.5em;
}
/* SERVICES SECTION END */

/*---------------------------------------------------------------------------*/

/* REPLACMENT SECTION START */
/* --------------------- */
#replacementAndRepair {
    margin-top: 3%;
    margin-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 991px) {
    #replacementAndRepair {
        margin-top: 8%;
        margin-bottom: 8%;
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* REPLACEMENT SECTION END */

/*---------------------------------------------------------------------------*/

/* WINTER SERVICES SECTION START */
/* --------------------- */
#winterServices {
    color: white;
    background-color: #075220;
    padding-bottom: 2%;
}

#winterServices h3{
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: .5%;
}

@media (max-width: 991px) {
    #winterServices h3{
        font-size: 1.5em;
        padding-top: 4%;
    }
}

#winterServicesContainer div.row div{
    margin-top: .5%;
}

#winterServicesContainer div.row h5{
    margin-bottom: 5%;
}

#winterServicesContainer h5{
    font-size: 1.5em;
}

#winterServicesContainer img {
    height: 85vh;
}
/* WINTER SECTION END */

/*---------------------------------------------------------------------------*/

/* WARRANTY SECTION START */
/* --------------------- */
#warranty {
    margin-top: 3%;
    margin-bottom: 4%;
    padding-left: 20%;
    padding-right: 20%;
}

@media (max-width: 991px) {
    #warranty {
        margin-top: 8%;
        margin-bottom: 8%;
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* WARRANTY SECTION END */

/*---------------------------------------------------------------------------*/

/* EMERGENCY SERVICES SECTION START */
/* --------------------- */

#emergencyServices {
    color: white;
    background-color: #075220;
}

#emergencyServices {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 991px) {
    #emergencyServices {
        padding-left: 10%;
        padding-right: 10%;
    }
}

#postEmergency {
    font-size: .9em;
}

#emergencyPhone:hover,
#emergencyPhonefocus,
#emergencyPhone:active{
    background-size: 100% 0.1em;
    color: white !important;
    transition: background-size .15s ease-in;
}

#emergencyPhone {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    font-size: large;
}

/* EMERGENCY SERVICES SECTION END */

/*---------------------------------------------------------------------------*/

/* TESTIMONIAL SECTION START */
/* --------------------- */

#testimonialsRow {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

#testimonialCarousel {
    min-height: 150px;
}

#testimonialsRow .carousel-item{
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 991px) {
    #testimonialsRow {
        margin-left: 4%;
        margin-right: 4%;
    }

    #testimonialsRow .carousel-item {
        padding-left: 15%;
        padding-right: 15%;
    }
}
/* TESTIMONIAL SECTION END */

/*---------------------------------------------------------------------------*/