footer{
    /* background-color: #A8BDA9; */
    /* background-color: #659067; */
    background-color: black;
    color: white;
    margin-top: 2%;
}

footer section a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

#footerLinks a:hover,
#footerLinks a:focus,
#footerLinks a:active{
    background-size: 100% 0.1em;
    color: white !important;
    transition: background-size .15s ease-in;
}

#footerContactButton a:hover,
#footerContactButton a:focus,
#footerContactButton a:active{
    color: white !important;
}

#footerContactSection a:hover,
#footerContactSection a:focus,
#footerContactSection a:active{
    /* color: white !important;
    background: none; */

    background-size: 100% 0.1em;
    color: white !important;
    transition: background-size .15s ease-in;
}

#bottomBanner{
    text-align: center;
    background-color: black;
    color: white;
    padding: .8%;
}

#bottomBanner a{
    text-decoration: none;
    color: lightgrey
}

#bottomBanner a:hover{
    text-decoration: none;
    color: darkgrey
}

footer img {
    margin-bottom: 5%;
}