.navbar-custom{
     background-color: white;
}

/* old - not being used in index... check others */
#navBrandId{
    color: black;
    /* font-weight: bold;
    font-size: large; */
}

@media (max-width: 9999px) {
    a.navbar-brand{
        padding-left: 3%;
    }
}

@media (max-width: 991px) {
    a.navbar-brand{
        padding-left: 0%;
    }
}

#navToggler a:hover,
#navToggler a:focus,
#navToggler a:active{
    background-size: 75% 0.1em;
    color: black !important;
    transition: background-size .15s ease-in;
}

@media (max-width: 1200px){
    #navToggler a:hover,
    #navToggler a:focus,
    #navToggler a:active{
        background-size: 0% 0.1em;
        color: black !important;
        transition: none;
    }
}

#navToggler a {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(black, black);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    font-size: 1.15em;
}

/* HOVER DROPDOWN ITEMS */
/* #dropMenu a:hover{
    color: #009933 !important;
    background-color: whitesmoke;
} */

/* HOVER */
.nav-link:hover{
    color: white;
}

nav img {
    height: 100px;
    width: 250px;
}

#headerButton {
    /* color: white;
    border-color: white; */

    color: white;
    border-color: #149914;
    background-color: #149914;
}

#headerButton:visited,
#headerButton:focus,
#headerButton:link,
#headerButton:hover,
#headerButton:active {
    border-color: black;
    background-color: white;
    color: black;
}

#hero {
    height: 60vh;
    width: 100%;
    background-image: url("../img/truckLarge_dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 

@media (max-width: 991px) {
    #hero {
        height: 35vh;
        background-image: url("../img/truckSmall_dark_test.jpg")
    }
}

#hero button {
    width:30%
}

@media (max-width: 991px) {
    #hero button {
        width:45%
    }
}

/* @media (max-width: 800px){
    nav img{
        height: 100px;
        width: 250px;
    }
} */

/* nav {
    padding-top: 1% !important;
    padding-bottom: 1% !important; 
} */