/* GLOBAL START */
body {
    font-size: 1.1rem;
}

#mainBody {
    text-align: center;
}

.mainRow {
    margin-top: 3%;
    margin-bottom: 2%;
}

/* #mainBody img {
    width: 100%;
    height: 100%;
} */

.mainButton {
    background-color: #009933;
    color: white;
    border: 1px solid #009933;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainButton:hover,
.mainButton:focus,
.mainButton:active{
    background-color: #2bc213;
    border: 1px solid #2bc213;
}

/* h3 {
    text-decoration: underline;
} */
/* GLOBAL END */

/*-------------------------------------------------------*/

/* ABOUT US SECTION START */
#aboutUsText {
    /* padding-left: 25%; 
    padding-right: 25%;
    font-size: 1.08em; */

    padding-left: 10%; 
    padding-right: 10%;
    font-size: 1.08em;
}

#aboutRow button {
    width: 50%;
}

@media (max-width: 991px) {
    #aboutUsText {
        padding-left: 5%;
        padding-right: 5%;
    }

    #aboutRow button {
        width: 75%;
    }
}
/* ABOUT US SECTION END */

/*-------------------------------------------------------*/

/* GALLERY SECTION START */

#carousel {
    width: 60%;
    margin: auto;
    margin-top: 4%;
}

#carouselImage {
    height: 80vh;
    width: 100%;
    background-size: cover;
}

@media (max-width: 991px) {
    #carouselImage {
        margin-top: 5%;
        height: 50vh;
        width: 100%;
        background-size: cover;
    }
}
/* GALLERY SECTION END */

/*-------------------------------------------------------*/

/* SERVICE SECTION START (OLD) */
#serviceRow .card{
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#serviceRow .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
/* SERVICE SECTION END (OLD) */

/* SERVICES SECTION START */
#services {
    color: white;
    /* background-color: #075220; */
    background-color: black;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#services h3{
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: .5%;
}

#services img {
    margin-bottom: 3%;
    height: 70vh;
}

@media (max-width: 991px) {
    #services {
        margin-top: 5%;
        margin-bottom: 8%;
    }

    #services h3{
        font-size: 1.4em;
        padding-top: 4%;
    }

    #services img {
        margin-bottom: 3%;
        height: 50vh;
    }
}

#servicesContainer div.row div{
    margin-top: .5%;
}

#servicesContainer div.row h5{
    margin-bottom: 5%;
}

#servicesContainer h5{
    font-size: 1.3em;
}

@media (max-width: 9999px) {
    .hiddenHR {
        display: none;
    }
}

@media (max-width: 991px) {
    .hiddenHR {
        display: block;
    }
}
/* SERVICES SECTION END */

/*-------------------------------------------------------*/

/* CONTACT SECTION START */
#contactRow a{
    text-decoration: none;
}

#contactRow a {
    text-decoration: none;
    color: black;
}

#contactRow a:hover,
#contactRow a:focus,
#contactRow a:active{
    color: #2bc213;
    transition: background-size .15s ease-in;
}

iframe {
    margin-top: 3%;
    width: 70%;
    height: 350px;
    border: 0;
}

@media (max-width: 991px) {
    iframe {
        margin-top: 5%;
        width: 100%;
    }
}

.hideLarge {
    display: none;
}

@media (max-width: 991px) {
    .hideSmall {
        display: none;
    }

    .hideLarge {
        display: block;
    }

    button.hideLarge {
        margin: auto;
        width: 80%;
    }
}

#contactRowInfo button {
    width: 100%;
}
/* CONTACT SECTION END*/

/*-------------------------------------------------------*/

/* BRANDS SECTION START */
#brandsRow {
    margin-top: 5%;
    margin-bottom: 5%;
}
#brandsRow img{
    height: 14vh;
    width: 100%;
    max-width: 130px;
    min-width: 100px;
}

@media (max-width: 991px) {
    .brandSpacer {
        display: none;
    }

    #brandsRow img {
        height: 10vh;
    }
}
/* BRANDS SECTION END */

/*-------------------------------------------------------*/

/* ESTIMATE SECTION START */
#estimateSection {
    color: white;
    background-color: #075220;
}

#estimateSection {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 991px) {
    #estimateSection {
        padding-left: 10%;
        padding-right: 10%;
    }
}

#estimateSection button {
    width: 60%;
    background-color: #009933;
    color: white;
    border: 1px solid #009933;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#estimateSection button:hover,
#estimateSection button:focus,
#estimateSection button:active{
    background-color: #2bc213;
    border: 1px solid #2bc213;
} 

@media (max-width: 991px) {
    #estimateSection button {
        width: 100%;
    }
}
/* ESTIMATE SECTION END */

/*-------------------------------------------------------*/

/* TESTIMONIAL SECTION START */
#testimonialsRow {
    margin-left: 10%;
    margin-right: 10%;
}

#testimonialCarousel {
    min-height: 150px;
}

#testimonialsRow .carousel-item{
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 991px) {
    #testimonialsRow {
        margin-left: 4%;
        margin-right: 4%;
    }

    #testimonialsRow .carousel-item {
        padding-left: 15%;
        padding-right: 15%;
    }
}
/* TESTIMONIAL SECTION END */

/*---------------------------------------------------------------------------*/

/* REPLACMENT SECTION START */
/* --------------------- */
#replacementAndRepair {
    margin-top: 3%;
    margin-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 991px) {
    #replacementAndRepair {
        margin-top: 8%;
        margin-bottom: 8%;
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* REPLACEMENT SECTION END */

@media (max-width: 991px) {
    .mainRow {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #brandsRow {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

/* TESTING */
#fader {
    opacity:1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
